<div class="modal animated fadeInLeft  " style="display: block;" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- //=================================================================================================
                FORMULARIO USUARIO NUEVO
            ======================================================================================================-->
            <div class="modal-header">
                <div class="col-md-11">
                    <h5>RESPUESTA</h5>
                </div>
                <button class="btn" (click)="closeModal($event)"><i class="mdi mdi-close"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form class="form-material m-t-40 row" 
                                autocomplete="off" 
                                [formGroup]="formRespuesta"
                                (ngSubmit)=" darRespuestaDoc()" 
                                id="RespuestaDoc">
                            <div class="form-group col-md-12 m-t-20">
                                <select class="form-control" 
                                        formControlName="respuesta">
                                    <option>OFICIO INTERNO RESERVADO</option>
                                    <option>OFICIO EXTERNO RESERVADO</option>
                                    <option>OFICIO INTERNO</option>
                                    <option>TARJETA INFORMATIVA</option>
                                    <option>NOTA INFORMATIVA</option>
                                    <option>CORREO ELECTRONICO</option>
                                    <option>INSTRUCCIÓN VERVAL</option>
                                </select>
                                <p style="color: red" *ngIf="campoNoValido('respuesta')"><small>*El resultado es
                                        obligatorio</small></p>
                            </div>
                            <div class="form-group col-md-6 m-t-20">
                                <input type="text" 
                                        class="form-control form-control-line" 
                                        placeholder="Número"
                                        formControlName="numeroResultado">
                                <p style="color: red" 
                                    *ngIf="campoNoValido('numeroResultado')"><small>*El número de
                                        resultado es obligatorio</small></p>
                            </div>
                            <div class="form-group col-md-6 m-t-20">
                                <input type="date" 
                                        class="form-control form-control-line"
                                        formControlName="fechaResultado" > 
                                <p style="color: red" 
                                    *ngIf="campoNoValido('fechaResultado')"><small>*La fecha del
                                        resultado es obligatoria</small></p>
                            </div>
                            
                            <div class="form-group text-center col-md-6 m-t-20">
                                <button class="btn btn-success btn-lg btn-block text-uppercase btn-rounded"
                                        type="submit">GUARDAR</button>
                            </div>
                            <div class="form-group text-center col-md-6 m-t-20">
                                <button class="btn btn-danger btn-lg btn-block text-uppercase btn-rounded" 
                                        
                                        (click)="limpiarForm()">CANCELAR</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>